*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#pageContent {
    flex: 100%;
}
html,
body {
    height: 100%;
}
#pageContainer {
    height: 100%;
    border: solid 3px blue;
    display: flex;
    flex-direction: column;
}
#pageHead,
#pageNav,
#pageFooter,
#pageMain {
    display: flex;
    flex-direction: row;
    flex: 100%
}
#pageNav {
    background-color: greenyellow;
    max-height: 50px;
    min-height: 50px;
}
#pageHead {
    background-color: brown;
    max-height: 150px;
    min-height: 150px;
}
#pageFooter {
    min-height: 50px;
    max-height: 50px;
    background-color:darkorange;
}
#pageMain {
    min-height: 300px;
}
#pageContent {
    background-color:blueviolet;
}

#pageNav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#pageNav li {
    padding: 0;
    margin: 0 30px;
    flex: 100%;
}
