<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="pageContainer">
        <div id="pageHead">
            <div>Menu</div><div class="centered"><a href="/"><img src="~/Images/Logo-min.png" /><h1>Kontorsprylar AB</h1></a></div>
        </div>
        <div id="pageNav">
            <div id="navCategories">
                <ul>
                    <a href="@Url.Action("Category", "Product", new { Id = "Pennor" })"><li>Pennor</li></a>
                    <li>Sudd</li>
                    <li>Papper</li>
                    <li>Kuvert</li>
                </ul>
            </div>
            <div id="navPages">
                <ul>
                    <li>Om</li>
                    <li>HJÄLP</li>
                </ul>
            </div>
        </div>
        <div id="pageMain">
            @RenderBody()
        </div>
        <div id="pageFooter"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
