<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div id="pageContainer">
        <div id="pageHead"></div>
        <div id="pageNav">
            <ul>
                <li>Pennor</li>
                <li>Sudd</li>
                <li>Papper</li>
                <li>Kuvert</li>
            </ul>
        </div>
        <div id="pageMain">
            @RenderBody()
        </div>
        <div id="pageFooter"></div>
    </div>
</body>
</html>
