@model ProductVM

<div class="row">
    <div class="col-sm-6">
        <img src="@Model.ImageUrl" class="productLargeImage" />
        <div class="price"><small>Price: </small><span> @Model.Price SEK</span></div>
    </div>
    <div class="col-sm-6">
        <ul class="productInfo">
            <li><h2>@Model.Name</h2></li>
            <li>@Model.Description</li>
        </ul>
    </div>
</div>