@model ProductVM

<div class="row">
    <div class="col-sm-6">
        <img src="http://efdreams.com/data_images/dreams/pen/pen-08.jpg" class="productImage" />
        <div class="price"><small>Price: </small><span> $14.33</span></div>
    </div>
    <div class="col-sm-6">
        <ul class="productInfo">
            <li>Någon info</li>
            <li>Mer info</li>
            <li>Kass info</li>
        </ul>
    </div>
</div>